<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <div th:replace="fragments/head :: myHead"></div>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <!-- Page content-->
        <div class="container mt-2">
            <div class="row" id="grid">
                <div class="col-md-3 col-sm-6 card-list" th:each="property: ${properties}">
                    <div class="card card-block">
                        <a th:href="@{'/property/'+${property.id}}">
                            <img class="main-img"
                                 th:src="@{${iter.index} == 0 ? ${path}+''+${property.pImages[0].imageName}: ${path}+''+'PJ_default.jpg'}"
                                 th:alt="${property.pReference}">
                            <p class="card-text">
                            <span class="price">
                                <i class="fa fa-usd"></i> <span th:text="${property.pPrice}"></span>
                            </span>
                                <br>
                                <span class="loc">
                                <i class="fas fa-map-marker-alt"></i> <span
                                        th:text="${property.pLocation.city}+' '+${property.pLocation.state}+', '+${property.pLocation.zipcode}"></span>
                            </span>
                                <br><br>
                            </p>
                            <br>
                            <p class="card-details">
                            <span th:if="${property.hasGarage == true}">
                                 <img class="icons" src="https://image.flaticon.com/icons/png/512/75/75751.png"
                                      alt="garage" title="Has a garage">
                            </span>
                                <span th:if="${property.hasTerrace == true}">
                                <img class="icons" src="https://image.flaticon.com/icons/png/512/1153/1153207.png"
                                     alt="Terracee" title="Has a terrace">
                            </span>
                                <span th:if="${property.hasBasement == true}">
                                <img class="icons" src="https://image.flaticon.com/icons/png/512/2825/2825600.png"
                                     alt="Basement" title="Has a basement">
                            </span>
                                <span th:if="${property.hasSPool == true}">
                                <img class="icons" src="https://image.flaticon.com/icons/png/512/787/787888.png"
                                     alt="Swimming pool" title="Has a swimming pool">
                            </span>
                                <span th:if="${property.hasBalcony == true}">
                                <img class="icons" src="https://image.flaticon.com/icons/png/512/2863/2863234.png"
                                     alt="Balcony" title="Has a balcony">
                            </span>
                                <span th:if="${property.hasGarden == true}">
                                <img class="icons" src="https://image.flaticon.com/icons/png/512/1973/1973668.png"
                                     alt="Garden" title="Has a garden">
                            </span>
                            </p>
                            <div class="divider"></div>
                            <p class="card-footer">
                            <span class="calendar">
                                <i class="far fa-calendar-plus common"></i><span class="registration-date"
                                                                                 th:text="${property.pUpdateDate.updateDate}"></span>
                            </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/footer :: myFooter"></div>
    </body>
</html>