<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <div th:replace="fragments/head :: myHead"></div>
    </head>
    <body>

        <div th:replace="fragments/navbar :: navbar"></div>

        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-10 col-md-10 text-center p-0 mt-3 mb-2">
                        <div class="card1 px-0 pt-4 pb-0 mt-3 mb-3">
                            <h2 id="heading">Post a property Ad</h2>
                            <form id="msform" th:action="@{./newproperty}" method="post" th:object="${property}">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="category"><strong>Introduction</strong></li>
                                    <li id="description"><strong>Description</strong></li>
                                    <li id="details"><strong>Details</strong></li>
                                    <li id="location"><strong>Location</strong></li>
                                    <li id="images"><strong>Image</strong></li>
                                    <li id="confirm"><strong>Finish</strong></li>
                                </ul>
                               <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> <br> &lt;!&ndash; fieldsets &ndash;&gt;-->
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Property informations :</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 1 - 6</h2>
                                            </div>
                                        </div>
                                        <div class="intro">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-10">
                                                        <div class="form-group border-lable-flt">
                                                            <input th:class="${#fields.hasErrors('pTitle')}? 'form-control is-invalid':form-control" type="text" id="label-title" th:field="*{pTitle}" placeholder=" ">
                                                            <label class="lbl" for="label-title"><i class="fas fa-user-tie common"></i>Username</label>
                                                            <small id="title" class="form-text text-danger">required</small>
                                                            <div class="invalid-feedback">
                                                                <span>This field is required</span>
                                                                <p class="error" th:each="error : ${#fields.errors('pTitle')}" th:text="${error}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group border-lable-flt">
                                                            <input type="text" id="label-ref" class="form-control" name="pReference" th:value="${refProperty}" disabled>
                                                            <label class="lbl" for="label-ref">reference </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <label class="fieldlabels">Category: *</label><br>
                                                    <div class="btn btn-outline-warning">
                                                        <i class="fas fa-home fa-2x"></i><br>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="home" name="category" class="custom-control-input" th:field="*{pCategory}" value = "HOME">
                                                            <label class="custom-control-label" for="home">home</label>
                                                        </div>
                                                    </div>


                                                    <div class="btn btn-outline-warning">
                                                        <i class="fas fa-building fa-2x"></i><br>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="apartment" name="category" class="custom-control-input" th:field="*{pCategory}" value = "APARTMENT">
                                                            <label class="custom-control-label" for="apartment">Apartment</label>
                                                        </div>
                                                    </div>

                                                    <div class="btn btn-outline-warning">
                                                        <i class="fas fa-warehouse fa-2x"></i><br>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="garage" name="category" class="custom-control-input" th:field="*{pCategory}" value="GARAGE">
                                                            <label class="custom-control-label" for="garage">Garage</label>
                                                        </div>
                                                    </div>


                                                    <div class="btn btn-outline-warning">
                                                        <i class="fas fa-mountain fa-2x"></i><br>
                                                        <div class="custom-control custom-radio custom-control-inline">
                                                            <input type="radio" id="land" name="category" class="custom-control-input" th:field="*{pCategory}" value="LAND">
                                                            <label class="custom-control-label" for="land">Land</label>
                                                        </div>
                                                    </div>
                                                <div class="invalid-feedback">
                                                    <span>Please select category value</span>
                                                    <p class="error" th:each="error : ${#fields.errors('pTitle')}" th:text="${error}"></p>
                                                </div>
                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Property description : </h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 2 - 6 </h2>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group border-lable-flt">
                                                            <select class="form-control" id="label-status" th:field="*{pStatus}" placeholder=" ">
                                                                <option value="0"></option>
                                                                <option th:each="status : ${T(io.allforhome.enums.Status).values()}"
                                                                        th:value="${status}" th:text="${status}"></option>
                                                            </select>
                                                            <label class="lbl" for="label-status">Property status: </label>
                                                            <small id="status" class="form-text text-danger">required</small>
                                                            <div class="invalid-feedback">
                                                                <span>This field is required</span>
                                                                <p class="error" th:each="error : ${#fields.errors('pStatus')}" th:text="${error}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group border-lable-flt">
                                                            <input type="text" id="label-type" class="form-control" th:field="*{pType}" placeholder="ex: Studio">
                                                            <label class="lbl" for="label-type">Property type: </label>
                                                            <small id="type" class="form-text text-danger">required</small>
                                                            <div class="invalid-feedback">
                                                                <span>This field is required</span>
                                                                <p class="error" th:each="error : ${#fields.errors('pType')}" th:text="${error}"></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group border-lable-flt">
                                                <textarea class="form-control" id="label-descrip" rows="5" th:field="*{pDescription}" placeholder=" "></textarea>
                                                <label class="lbl" for="label-descrip">Property description: </label>
                                                <small id="descrip" class="form-text text-danger">required</small>
                                                <div class="invalid-feedback">
                                                    <span>This field is required</span>
                                                    <p class="error" th:each="error : ${#fields.errors('pDescription')}" th:text="${error}"></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Property details : </h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 3 - 6</h2>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="bedrooms">How many bedrooms ?</label>
                                                        <select class="form-control" id="bedrooms" th:field="*{pBedrooms}">
                                                            <option value="0"></option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                        <small id="bed" class="form-text text-danger">required</small>
                                                        <div class="invalid-feedback">
                                                            <span>This field is required</span>
                                                            <p class="error" th:each="error : ${#fields.errors('pBedrooms')}" th:text="${error}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label for="bathrooms">How many bathrooms ?</label>
                                                        <select class="form-control" id="bathrooms" th:field="*{pBathrooms}">
                                                            <option value="0"></option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                        </select>
                                                        <small id="bath" class="form-text text-danger">required</small>
                                                        <div class="invalid-feedback">
                                                            <span>This field is required</span>
                                                            <p class="error" th:each="error : ${#fields.errors('pBathrooms')}" th:text="${error}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group border-lable-flt">
                                                        <input type="text" id="label-area" class="form-control" th:field="*{pArea}" placeholder=" ">
                                                        <label class="lbl" for="label-area"><i class="fas fa-vector-square common"></i>Area (ft2): </label>
                                                        <small id="area" class="form-text text-danger">required</small>
                                                        <div class="invalid-feedback">
                                                            <span>This field is required</span>
                                                            <p class="error" th:each="error : ${#fields.errors('pArea')}" th:text="${error}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group border-lable-flt">
                                                        <input type="text" id="label-price" class="form-control" th:field="*{pPrice}" placeholder=" ">
                                                        <label class="lbl" for="label-price"><i class="fas fa-dollar-sign common"></i>Price: </label>
                                                        <small id="price" class="form-text text-danger">required</small>
                                                        <div class="invalid-feedback">
                                                            <span>This field is required</span>
                                                            <p class="error" th:each="error : ${#fields.errors('pPrice')}" th:text="${error}"></p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group border-lable-flt">
                                                        <input type="text" id="label-year" class="form-control" th:field="*{pBuiltYear}" placeholder="ex: 1992 ">
                                                        <label class="lbl" for="label-year"><i class="fas fa-calendar-week common"></i>Build's year: </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h4 style="margin: 20px 0 20px 0;color:grey;">Add more details</h4><br>
                                                    <div class="more-details">
                                                        <div class="btn btn-outline-warning">
                                                            <input id="hgarage" type="checkbox" name="hasGarage"/>
                                                            <label for="hgarage">Has a garage</label>
                                                        </div>
                                                        <div class="btn btn-outline-warning">
                                                            <input id="basement" type="checkbox" name="hasBasement"/>
                                                            <label for="basement">Has a basement</label>
                                                        </div>
                                                        <div class="btn btn-outline-warning">
                                                            <input id="terrasse" type="checkbox" name="hasTerrace"/>
                                                            <label for="terrasse">Has a terrasse</label>
                                                        </div>
                                                        <div class="btn btn-outline-warning">
                                                            <input id="garden" type="checkbox" name="hasGarden"/>
                                                            <label for="garden">Has a garden</label>
                                                        </div>
                                                        <div class="btn btn-outline-warning">
                                                            <input id="pool" type="checkbox" name="hasSPool"/>
                                                            <label for="pool">Has a swimming pool</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>

                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Images Upload:</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 4 - 6</h2>
                                            </div>
                                        </div>
                                        <div class="location">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group border-lable-flt">
                                                        <input type="text" id="pLocation-adress" th:class="${#fields.hasErrors('pLocation.address')}? 'form-control is-invalid':form-control" th:field="*{pLocation.address}" placeholder=" ">
                                                        <label class="lbl" for="pLocation-adress">Address</label>
                                                        <small id="adress" class="form-text text-danger">required</small>
                                                        <div class="invalid-feedback">
                                                            <span>This field is required</span>
                                                            <p class="error" th:each="error : ${#fields.errors('pLocation.address')}" th:text="${error}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group border-lable-flt">
                                                        <input type="text" id="pLocation-city" th:class="${#fields.hasErrors('pLocation.city')}? 'form-control is-invalid':form-control" th:field="*{pLocation.city}" placeholder=" ">
                                                        <label class="lbl" for="pLocation-city">City</label>
                                                        <small id="city" class="form-text text-danger">required</small>
                                                        <div class="invalid-feedback">
                                                            <span>This field is required</span>
                                                            <p class="error" th:each="error : ${#fields.errors('pLocation.city')}" th:text="${error}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <div class="form-group border-lable-flt">
                                                        <input type="text" id="pLocation-state" th:class="${#fields.hasErrors('pLocation.state')}? 'form-control is-invalid':form-control" th:field="*{pLocation.state}" placeholder=" ">
                                                        <label class="lbl" for="pLocation-state">State</label>
                                                        <small id="state" class="form-text text-danger">required</small>
                                                        <div class="invalid-feedback">
                                                            <span>This field is required</span>
                                                            <p class="error" th:each="error : ${#fields.errors('pLocation.state')}" th:text="${error}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group border-lable-flt">
                                                        <input type="text" id="pLocation-zipcode" th:class="${#fields.hasErrors('pLocation.zipcode')}? 'form-control is-invalid':form-control" th:field="*{pLocation.zipcode}" placeholder=" ">
                                                        <label class="lbl" for="pLocation-zipcode">Zip code</label>
                                                        <small id="zipcode" class="form-text text-danger">required</small>
                                                        <div class="invalid-feedback">
                                                            <span>This field is required</span>
                                                            <p class="error" th:each="error : ${#fields.errors('pLocation.zipcode')}" th:text="${error}"></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>

                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Images Upload:</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 5 - 6</h2>
                                            </div>
                                        </div>
                                        <div class="images">
                                            <div class="pic">
                                                <i class="fa fa-upload"></i><br>
                                                Click to upload
                                            </div>
                                        </div>

                                    </div>
                                    <input type="submit" name="next" class="next action-button" value="Submit" />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>
                                <!--<fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Finish:</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 6 - 6</h2>
                                            </div>
                                        </div> <br><br>
                                        <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                        <div class="row justify-content-center">
                                            <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                        </div> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                            </div>
                                        </div>
                                    </div>-->
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footer :: myFooter"></div>
    </body>
</html>