<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <div th:replace="fragments/head :: myHead"></div>
    </head>
    <body>

        <div th:replace="fragments/navbar :: navbar"></div>

        <main>
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-11 col-sm-10 col-md-10 text-center p-0 mt-3 mb-2">
                        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                            <h2 id="heading">Post a property Ad</h2>
                            <p>Fill all form required field to go to next step</p>
                            <form id="msform" th:action="@{./newproperty}" method="post" th:object="${property}">
                                <!-- progressbar -->
                                <ul id="progressbar">
                                    <li class="active" id="category"><strong>Introduction</strong></li>
                                    <li id="description"><strong>Description</strong></li>
                                    <li id="details"><strong>Details</strong></li>
                                    <li id="images"><strong>Image</strong></li>
                                    <li id="confirm"><strong>Finish</strong></li>
                                </ul>
                               <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> <br> &lt;!&ndash; fieldsets &ndash;&gt;-->
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Property informations :</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 1 - 5</h2>
                                            </div>
                                        </div>
                                        <div class="intro">
                                            <input type="hidden" name="pReference" th:field="*{pReference}" th:value="${pReference}">
                                            <div class="form-group">
                                                <label class="fieldlabels" for="title">Title</label>
                                                <input type="text" class="form-control" id="title" placeholder="Insert some introduction..." th:field="*{pTitle}">
                                            </div>
                                            <br>
                                            <label class="fieldlabels">Category: *</label><br>
                                            <div class="btn btn-outline-primary">
                                                <i class="fas fa-home"></i><br>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="home" name="category" class="custom-control-input" th:field="*{pCategory}">
                                                    <label class="custom-control-label" for="home">home</label>
                                                </div>
                                            </div>
                                            <div class="btn btn-outline-primary">
                                                <i class="fas fa-building"></i><br>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="apartment" name="category" class="custom-control-input" th:field="*{pCategory}">
                                                    <label class="custom-control-label" for="apartment">Apartment</label>
                                                </div>
                                            </div>
                                            <div class="btn btn-outline-primary">
                                                <i class="fas fa-warehouse"></i><br>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="garage" name="category" class="custom-control-input" th:field="*{pCategory}">
                                                    <label class="custom-control-label" for="garage">Garage</label>
                                                </div>
                                            </div>
                                            <div class="btn btn-outline-primary">
                                                <i class="fas fa-mountain"></i><br>
                                                <div class="custom-control custom-radio custom-control-inline">
                                                    <input type="radio" id="lot" name="category" class="custom-control-input" th:field="*{pCategory}">
                                                    <label class="custom-control-label" for="lot">Lot</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Property description : </h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 2 - 5 </h2>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <div class="form-group">
                                                <label class="fieldlabels" for="status">Select status:</label>
                                                <select class="form-control" id="status">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>


                                            <select name="pStatus">
                                                <option th:each="status : ${T(io.allforhome.enums.Status).values()}"
                                                        th:value="${status}" th:text="${status}"></option>
                                            </select>
                                            <label class="fieldlabels">Description: *</label>
                                            <textarea class="form-control" id="descrip" rows="5" th:field="*{pDescription}"></textarea>
                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Property details : </h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 3 - 5</h2>
                                            </div>
                                        </div>
                                        <div class="details">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="bedroom" aria-label="Floating label select example" th:field="*{pBedrooms}">
                                                            <option th:value="0" selected>Bedrooms</option>
                                                            <option th:value="1" th:text="1"></option>
                                                            <option th:value="2" th:text="2"></option>
                                                            <option th:value="3" th:text="3"></option>
                                                            <option th:value="4" th:text="4"></option>
                                                            <option th:value="5" th:text="5"></option>
                                                        </select>
                                                        <label for="bedroom">How many Bedrooms ?</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        <select class="form-select" id="bathrooms" aria-label="Floating label select example" th:field="*{pBathrooms}">
                                                            <option th:value="0" selected>Bathrooms</option>
                                                            <option th:value="1" th:text="1"></option>
                                                            <option th:value="2" th:text="2"></option>
                                                            <option th:value="3" th:text="3"></option>
                                                            <option th:value="4" th:text="4"></option>
                                                            <option th:value="5" th:text="5"></option>
                                                        </select>
                                                        <label for="bathrooms">How many Bathrooms ?</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="input-group mb-3">
                                                        <label for="area" class="form-label">Area (Sqrt Feet): *</label>
                                                        <input type="number" class="form-control" id="area" placeholder="ex: 2000" th:field="*{pArea}">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group mb-3">
                                                        <label for="price" class="form-label">Price ($): *</label>
                                                        <input type="number" class="form-control" id="price" placeholder="ex: 1992" th:field="*{pPrice}">
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="input-group mb-3">
                                                        <label for="buityear" class="form-label">built's year: *</label>
                                                        <input type="number" class="form-control" id="buityear" placeholder="ex: 1992" th:field="*{pBuiltYear}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <h5>Choose more details</h5>
                                                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                                                        <input type="checkbox" class="btn-check" th:id="basement" autocomplete="off" >
                                                        <label class="btn btn-outline-primary" th:for="basement">Has basement</label>

                                                        <input type="checkbox" class="btn-check" th:id="terrasse" autocomplete="off" >
                                                        <label class="btn btn-outline-primary" th:for="terrasse">Has a terrasse</label>

                                                        <input type="checkbox" class="btn-check" th:id="pool" autocomplete="off">
                                                        <label class="btn btn-outline-primary" th:for="pool">Has a swimming pool</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="button" name="next" class="next action-button" value="Next" />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>

                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Images Upload:</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 4 - 5</h2>
                                            </div>
                                        </div>
                                        <!--<form th:action="@{/uploadFile}" method="post" enctype="multipart/form-data">-->
                                            <label class="fieldlabels">Upload Your images:</label>
                                            <input type="file" name="images" accept="image/*" onchange="loadFile(event)" >
                                            <input type="hidden" name="pReference" th:field="*{pReference}" th:value="${pReference}">


                                        <div class="images-list">
                                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                                <div class="col">
                                                    <div class="card" style="width: 18rem;">
                                                        <img src="output" class="card-img-top" alt="test">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card" style="width: 18rem;">
                                                        <img src="https://cdn0.iconfinder.com/data/icons/set-app-incredibles/24/Image-01-512.png" class="card-img-top" alt="test">
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="card" style="width: 18rem;">
                                                        <img src="https://cdn0.iconfinder.com/data/icons/set-app-incredibles/24/Image-01-512.png" class="card-img-top" alt="test">
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                    <input type="submit" name="next" class="next action-button" value="Submit" />
                                    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                </fieldset>
                                <fieldset>
                                    <div class="form-card">
                                        <div class="row">
                                            <div class="col-7">
                                                <h2 class="fs-title">Finish:</h2>
                                            </div>
                                            <div class="col-5">
                                                <h2 class="steps">Step 5 - 5</h2>
                                            </div>
                                        </div> <br><br>
                                        <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                        <div class="row justify-content-center">
                                            <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                        </div> <br><br>
                                        <div class="row justify-content-center">
                                            <div class="col-7 text-center">
                                                <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div th:replace="fragments/footer :: myFooter"></div>
    </body>
</html>