<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
  <head>
    <div th:replace="fragments/head :: myHead"></div>
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <!-- Page content-->
    <div class="user-form">
      <div class="container">
        <div class="col-md-8 mt-5">

          <form th:action="@{./reset}" method="post">
            <div class="form-group border-lable-flt">
              <input  type="text" id="label-email" class="form-control" name="email" placeholder=" ">
              <label class="lbl" for="label-email"><i class="fas fa-envelope-open-text common"></i>Your email</label>
              <input type="submit" value="Submit" class="btn btn-primary btn-login"/>
              <div class="btn-return-login">
                <a th:href="@{./login}" class="btn-return-login"><i class="fas fa-arrow-left common"></i>Return to login page </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div th:replace="fragments/footer :: myFooter"></div>
  </body>
</html>