<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <body>
        <div th:fragment="myFooter">
            <!-- Bootstrap core JS-->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<!--            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
            <!-- jQuery js -->
<!--            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">-->
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
              <!-- Core theme JS-->
            <script src="../js/scripts.js"></script>
            <script src="../js/api/jquery.sticky.js"></script>
            <script src="../js/api/popper.min.js"></script>

            <nav class="navbar" style="background-color: #e3f2fd;">
                <div class="container-fluid">
                    <p style="margin:auto;">@Copyright 2021</p>
                </div>
            </nav>
        </div>
    </body>
</html>