<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
    <head>
        <div th:replace="fragments/head :: myHead"></div>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <!-- Page content-->
        <div th:fragment="reset-password">
            <form th:action="@{./resetuserpassword}" method="post">
                <div class="form-group border-lable-flt">
                    <input th:class="${emptyPassword} != '' ? 'form-control is-invalid':form-control"
                           type="password"
                           id="label-password" name="password" placeholder=" ">
                    <label class="lbl" for="label-password"><i class="fas fa-unlock-alt common"></i>Password</label>
                    <small id="password" class="form-text text-danger">required</small>
                    <div class="invalid-feedback">
                        <p class="error" th:text="${emptyPassword}"></p>
                    </div>
                </div>

                <div class="form-group border-lable-flt">
                    <input th:class="${emptycPassword} != '' or  ${invalidConfirmation} != ''  ? 'form-control is-invalid':form-control"
                           type="password" id="label-cpassword" placeholder=" " name="cpassword">
                    <label class="lbl" for="label-cpassword"><i class="fas fa-unlock common"></i>Confirm
                        password</label>
                    <small id="cpassword" class="form-text text-danger">required</small>
                    <div class="invalid-feedback">
                        <p class="error" th:text="${emptyPassword}"></p>
                        <p class="error" th:text="${invalidConfirmation}"></p>
                    </div>
                </div>
                <input type="submit" value="Register" class="btn warning btn-login"/>
            </form>
        </div>

        <div th:replace="fragments/footer :: myFooter"></div>
    </body>
</html>