body{
    background-color: #f8f9fa !important;
}

.container>.mt-5 {
    margin : auto;
}


/*floating label */
.border-lable-flt {
  display: block;
  position: relative;
}
.border-lable-flt label, .border-lable-flt > span {
  position: absolute;
  left: 0;
  top: 0;
  cursor: text;
  font-size: 75%;
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
  top: -.5em;
  left: 1.5rem;
  z-index: 3;
  line-height: 1;
  padding: 0 1px;
  font-family: monospace
}
.border-lable-flt label::after, .border-lable-flt > span::after {
  content: " ";
  display: block;
  position: absolute;
  background: white;
  height: 2px;
  top: 50%;
  left: -.2em;
  right: -.2em;
  z-index: -1;
}
.border-lable-flt .form-control::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: all .2s;
          transition: all .2s;
}
.border-lable-flt .form-control:placeholder-shown:not(:focus)::-webkit-input-placeholder {
  opacity: 0;
}
.border-lable-flt .form-control:placeholder-shown:not(:focus) + * {
  font-size: 120%;
  opacity: .5;
  top: .5em;
}

.input-group .border-lable-flt {
  display: table-cell;
}
.input-group .border-lable-flt .form-control {
  border-radius: 0.25rem;
}
.input-group .border-lable-flt:not(:last-child), .input-group .border-lable-flt:not(:last-child) .form-control {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right: 0;
}
.input-group .border-lable-flt:not(:first-child), .input-group .border-lable-flt:not(:first-child) .form-control {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/*.form-control:focus {
  color: #804000;
  background-color: #fff;
  border-color: #006633;
  box-shadow: 0 0 0 0.2rem rgba(0, 102, 51, 0.25);
}*/

.border-lable-flt > .form-control {
    padding: .5rem .75rem;
}

.border-lable-flt > input {
    border-radius: 30px
}

.form-control:focus {
  color: #000;
  border-color: #4285f4;
  box-shadow: inset 0 0 0 1px #4285f4
}

.btn-login {
    width: 100%;
    border-radius: 30px;
    margin: 20px auto;
    border-color:#f89d13;
    background-color:#f89d13;
}

.fa-users {
    margin: 10px 0 10px 26%;
    color: #f89d13;
}

/*h5 {
    text-align: center;
    margin-top: -12%;
    margin-bottom: 10%;
    color: white;
}*/

a:hover {
  text-decoration: none;
}
.common {
    margin-right: 10px;
}

.btn-fp {
    text-align:right;
    margin-right: 5px;
}

.btn-return-login, .btn-sign-up{
    margin: 30px auto;
    text-align: center;
}

.container > .mt-5 {
    border-radius: 30px;
    padding: 50px;
    margin: 60px auto;
}

img.main-img {
    width: 100%;
}

.intro, .desc, .details, .location, .images {
    margin: 40px auto;
}

/* checkbox custom */

.intro > .btn-outline-warning,
.more-details > .btn-outline-warning {
    color: grey;
    border-color: grey;
}

.more-details input[type=checkbox] { display:none; } /* to hide the checkbox itself */
.more-details input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}

.more-details input[type=checkbox] + label:before { content: "\f096"; letter-spacing: 10px; }

.more-details input[type=checkbox]:checked + label:before {
    content: "\f046"; /* checked icon */
    letter-spacing: 10px; /* allow space for check mark */
    .btn-outline-warning{
        background-color: #f89d13;
        border-color: #ffc107;
        color: black;
    }

}

.error {
    color: red;
    margin: 0;
}

small{
    text-align:right;
    font-style:italic;
}

.invalid-feedback {
    position: relative;
    top: -22px;
}

.company-form, .agent-form {
    border: 1px solid #f89d13;
    border-radius: 20px;
    padding: 40px;
}

.agent-form {
    margin: 70px 0 0 0;
}

/*.company-title {
    position: absolute;
    top: 28px;
    background-color: white;
    color: #f89d13;
    padding: 10px;
    text-transform: uppercase;
    font-family: fantasy;
}*/

.agent-title, .company-title {
    position: relative;
    top: -65px;
    background-color: #f8f9fa;
    padding: 10px;
    color: #f89d13;
    text-transform: uppercase;
    font-family: fantasy;
    width: 160px;
}

/* custom images */
.card-list img .main-img {
  height:150px;
  width:100%;
}

.card-list div [class^="col-"]{
  padding-left:5px;
  padding-right:5px;
  margin-top: 15px;
}
.card-list  .card{
  transition:0.5s;
  cursor:pointer;
  padding: 10px;
}
.card-list .card-title{
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-list .card-title i{
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-list .card-title i:hover{
  transform: scale(1.25) rotate(100deg);
  color:#18d4ca;

}
.card-list .card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-list .card-text{
  height:90px;
  margin-top: 1em;
}
.card-list .card-details {
    height: 15px;
    margin: auto;
    position: relative;
    top: -20px;
}
.card-list .card-footer {
    height:20px;
}

.card-list  .card::before, .card-list  .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card-list .card::before {
  transform-origin: left top;
}
.card-list  .card::after {
  transform-origin: right bottom;
}
.card-list  .card:hover::before, .card-list  .card:hover::after, .card-list  .card:focus::before, .card-list  .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.icons {
    width: 20px;
    height: 20px;
}

.calendar {
    font-size: 13px;
    float: right;
    font-family: monospace;
    font-variant: small-caps;
    position: relative;
    top: -7px;
}

.loc {
    font-family: emoji;
}

.card-title {
    color: black;
    font-family: monospace;
}

/* gallery image custom */

.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
.card-wrapper img{
    width: 100%;
    display: block;
}
.card-wrapper .img-display{
    overflow: hidden;
}
.card-wrapper .img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
    height: 300px;
}
.card-wrapper .img-showcase img{
    min-width: 100%;
}
.card-wrapper .img-select{
    display: flex;
}
.card-wrapper .img-item{
    margin: 0.3rem;
    height: 90px;
}

.card-wrapper .img-item img {
    height: 83px;
    width: 25%;
}
.card-wrapper .img-item:nth-child(1),
.card-wrapper .img-item:nth-child(2),
.card-wrapper .img-item:nth-child(3){
    margin-right: 0;
}
.card-wrapper .img-item:hover{
    opacity: 0.8;
}

/*
@media screen and (min-width: 768px) , (max-width: 1280px){
    .card-wrapper .card{
        display: grid;
       */
/* grid-template-columns: repeat(2, 1fr);*//*

        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-wrapper .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (min-width: 480px){
    .card-wrapper .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-wrapper .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    */
/*.card-wrapper .product-content{
        padding-top: 0;
    }*//*

}*/

.contact .card {
    background-color: transparent;
}
.contact img {
    width: 40%;
    border-radius: 50%;
    margin: 10px auto;
}

.contact .container {
    text-align: center;
}

.contact .btn {
    width: 100%;
}

.registration-date {
    font-size: smaller;
    font-style: italic;
}

.property-details .price {
    font-size: x-large;
    color: #f89d13;
}
.property-details .fa-usd {
    color: #f89d13;
}

.btn.details {
    border-radius: 50px;
    width: 150px;
    color: #000;
}

.card.w-80{
    width: 80%;
    margin: auto;
    background-color: transparent;
}

.card-body.user-details {
    margin: auto;
}

.container .col-md-11.mt-5 {
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.search-form .title {
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    font-size: 38px;
    font-family: sans-serif;
    text-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}

.search-form .form-group {
    background-color: #fff;
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 2 px 4px 0px rgba(12, 18, 18, 0.4);
}

.search-form  .dropdown {
    position: relative;
    width: 150px;
    padding-left: 5px;
    color: #3a3a3a;
    border-right: 2px solid #f57168;
    cursor: pointer;
}

.search-form .default-option{
    padding: 8px 30px;
}

.search-form .dropdown-list ul {
    list-style: none;
    background-color: #fff;
    color: #696969;
    position: absolute;
    top: 60px;
    left: -2px;
    width: 150px;
    border-radius: 5px;
    display: none;
    z-index: 1;
    padding: 30px;
    border: 0.5px solid lightgrey;
}

.search-form dropdown-list ul li {
    padding: 10px 10px 10px 20px;
}

/*.search-form dropdown-list ul li i {
    margin-right: 5px;
}*/

.search-form .dropdown::before  {
    content: "";
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #1d1d1d transparent;
    position: absolute;
    right: 6px;
    top: 20px;
}

.search-form .dropdown-list ul li:before {
    content: "";
    border-width: 0px 8px 8px 8px;
    border-style: solid;
    border-color: #fff transparent;
    position: absolute;
    bottom: 100%;
    right: 20px;
}

.search-form .dropdown-list ul li:hover{
    background-color: #fff;
    color: #f44336;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.search-form .search {
    width: 600px;
    height: 100%;
}

.search-form .search-input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px 10px;
    color: #3a3a3a;
}

.search-form .btn.btn-search, .search-form .btn.btn-filter {
    background-color: #fff;
    width: 50px;
    height: 100%;
    border: 0;
    cursor: pointer;
}

.search-form .btn.btn-search {
     border-right: 2px solid #f57168;
     border-radius: 0;
}

.search-form .btn .fa-search, .search-form .btn .fa-filter{
    font-size: 22px;
    color: #f57168;
}

.search-form .btn .fa-search:hover, .search-form .btn .fa-filter:hover {
    font-size: 24px;
    color: #e01f10;
}

.search-form input, .search-form button:focus{
    outline: none;
}

.filter {
    background-color: #fff;
    padding: 40px;
    border-radius: 30px;
    display: none;
}

.filter:before {
    content: "";
    border-width: 0px 12px 12px 12px;
    border-style: solid;
    border-color: #fff transparent;
    position: absolute;
    bottom: 100%;
    right: 40px;
}

.text-center .btn.btn-apply {
    background-color: #f57168;
    border-color: #f57168;
    margin-top: 40px;
}

.text-center .btn.btn-apply:hover {
    background-color: red;
    border-color: red;
}